<div class="form">
  <form class="form__container" [formGroup]="employeeForm" (ngSubmit)="onEmployeeFormSubmitted(employeeForm.value)">
    <h1 class="form__header">Create Employee</h1>
    <input class="form__input" type="text" formControlName="name" placeholder="Name">
    <input class="form__input" type="number" formControlName="age" placeholder="Age">
    <input class="form__input" type="number" formControlName="salary" placeholder="Salary">
    <button class="form__button" type="submit" [disabled]="employeeForm.invalid">Create</button>
  </form>
</div>
