<div class="form">
  <form class="form__container" [formGroup]="employeeForm" (ngSubmit)="onEmployeeFormSubmitted(employeeForm.value)">
    <input class="form__input" type="text" formControlName="name" placeholder="Name">
    <input class="form__input" type="number" formControlName="age" placeholder="Age">
    <input class="form__input" type="number" formControlName="salary" placeholder="Salary">
    <input class="form__submit" type="submit" value="Submit" [disabled]="employeeForm.invalid">
  </form>
</div>
